<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Brigadeiro Perfeito</title>
</head>
<body>
    <header>
        <h1>Brigadeiro Perfeito</h1>
        <p>Sua fonte de felicidade em cada mordida!</p>
        <nav>
            <a href="{{ url_for('modelo') }}" class="redirect-button">Nosso Modelo</a>
            <a href="{{ url_for('predizer') }}" class="redirect-button">Fazer Predição</a>
        </nav>
    </header>

    <div class="sec1">
        <h1 align="center">Projeto SIC - Brigadeiro Perfeito</h1>
        <div class="main">
            <div class="p1">
                <h2>Sobre o projeto</h2>
                <p>
                    Em nossa casa, acreditamos que a felicidade pode
                    ser encontrada em cada mordida de um brigadeiro
                    perfeitamente preparado. No coração de nossa cozinha,
                    combinamos os ingredientes mais finos e a paixão pela
                    culinária para criar uma experiência única e inesquecível.
                </p>
            </div>
            <div class="p2">
                <img src="../static/images/big.jpg" height="90%">
            </div>
        </div>
        <hr>
        <div class="main">
            <div class="p1">
                <h2>Correlação entre as variáveis utilizadas</h2>
                <p>
                    Utilizamos como variáveis em nosso projeto,
                    o chocolate em pó, o achocolatado, a manteiga,
                    o tempo de cozimento como parâmetros de entrada,
                    e as variáveis sabor, dulçor, textura, consistência,
                    aroma, cor e nota geral como possíveis resultados
                    do modelo, onde o usuário pode selecionar qual deseja predizer.
                </p>
                <p>
                    Utilizamos da matriz de correlação para
                    descobrir quais variáveis se correlacionam
                    mais, isso é medido através do coeficiente de
                    correlação de Pearson, no qual seu valor pode
                    variar entre -1 e 1. Ao lado podemos observar
                    o mapa de calor da matriz de correlação do
                    nosso modelo.
                </p>
            </div>
            <div class="p2">
                <img src="../static/images/corr.jpg" height="70%">
            </div>
        </div>
        <hr>
    </div>

    <footer>
        <p>&copy; 2023 Brigadeiro Perfeito. Todos os direitos reservados.</p>
        <p>Pedro Betti, Rubens e Mirella</p>
    </footer>
</body>
</html>
